<div class="wrapper">
  <app-header></app-header>
  <div class="title anim">Messages</div>

  <div class="block">
    <div class="container" *ngFor="let waitItem of waitlistArray">
      <form [formGroup]="waitListForm">
        <p> This text
          <a [routerLink]="['/text_details',waitItem.idOrder.id]">
            {{waitItem.idOrder.title}}
          </a> can be translated these translators : </p>

        <div class="cleaning-type-box">

          <div
            [style.backgroundColor]="radioBtn.checked? '#00ADB5' : 'whitesmoke'"
            [style.boxShadow]="radioBtn.checked? '0 0 5px white' : '0 0 1px gray'"
            class="translator-block"
            (click)=radioBtn.click()
            *ngFor="let trans of waitItem.idTranslators">

            <label [for]="waitItem.id + trans.id"> {{trans.name}} -- {{trans.email}} </label>

            <input
              type="radio"
              [formControlName]="'waitlist_' + waitItem.id"
              #radioBtn
              [id]="waitItem.id + trans.id"
              [value]="trans.id"
              hidden>
          </div>

        </div>
        <div class="button-block btn-group">
          <button class="btn btn-default" (click)="acceptTranslator(waitItem)">accept</button>
          <button class="btn btn-warning" (click)="resetInfo(waitItem.id)">clear</button>
        </div>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</div>
