
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <!-- <a class="navbar-brand" routerLink="/" style="color: white">
    <b style="letter-spacing: 2px; font-size: larger">LETS</b> translate</a> -->
    <img id="logo" src="../../../assets/logo.png" alt="" routerLink="/">
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isRole.auth && !isRole.admin" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/dashboard">
          Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="isRole.customer" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/new_texts">
          New texts</a>
      </li>
      <li class="nav-item" *ngIf="isRole.translator" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/my_translations">
          My translations</a>
      </li>
      <li
        class="nav-item"
        *ngIf="isRole.customer"
        routerLinkActive="active"
        matBadge="{{msgCounter}}"
        [matBadgeHidden]="msgCounter === 0"
        matBadgePosition="after"
        matBadgeColor="accent">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/messages">Messages</a>
      </li>
      <li class="nav-item" *ngIf="isRole.customer" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/collections"
           routerLinkActive="active">Collections</a>
      </li>
      <li class="nav-item" *ngIf="isRole.admin" routerLinkActive="active">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          routerLink="/admin_panel"
          routerLinkActive="active">
          Administration panel</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">

        <div class="btn-group" mdbDropdown>
          <div *ngIf="userProfile" class="user-data">
            <p>{{userProfile.coins}}
              <mdb-icon fas style="color: #faff5e" icon="coins"></mdb-icon>
            </p>
            <p> {{userProfile.name}}</p>
            <div class="user-photo" [style.backgroundImage]="'url(' + userProfile.photo + ')'"
                 (click)="basicModal.show()" mdbWavesEffect>
            </div>
          </div>

          <button
            class="btn btn-outline-white btn-sm my-0"
            data-toggle="modal"
            data-target="#basicExample"
            (click)="frame.show()"
            *ngIf="!isRole.auth"
            mdbWavesEffect>
            Login
          </button>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="logout()"
            *ngIf="isRole.auth">
            Logout
          </button>
          <button
            *ngIf="!isRole.auth"
            class="btn btn-outline-white btn-sm my-0"
            routerLink="/customerRegistration">
            Register
          </button>
        </div>

      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right text-danger" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true" style="font-size: 1.5rem">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Profile</h4>
      </div>
      <div class="modal-body" *ngIf="userProfileForm && userProfile">

        <div id="info-user-block">

          <img [src]="imageUrl " (click)="filePicker.click()">
          <input type="file" hidden #filePicker (change)="onImagePicked($event)">

          <div class="text-block">
            <div class="md-form mb-3">
              <i class="fas fa-user prefix" [ngClass]="userProfileForm.name.valid ? 'green-text' : 'red-text'"></i>
              <input [formControl]="userProfileForm.name" type="text" id="userName" class="form-control validate"
                     mdbInput mdbValidate>
              <label data-error="wrong" data-success="right" for="userName">Name</label>
              <mdb-error
                *ngIf="userProfileForm.name.invalid && (userProfileForm.name.dirty || userProfileForm.name.touched)">
                Input a valid name
              </mdb-error>
              <mdb-success
                *ngIf="userProfileForm.name.valid && (userProfileForm.name.dirty || userProfileForm.name.touched)">
                Ok!
              </mdb-success>
            </div>

            <div class="md-form mb-3">
              <i class="fas fa-envelope prefix"
                 [ngClass]="userProfileForm.email.valid ? 'green-text' : 'red-text'"></i>
              <input [formControl]="userProfileForm.email" type="email" id="userEmail" class="form-control validate"
                     mdbInput mdbValidate>
              <label data-error="wrong" data-success="right" for="userEmail">Email</label>
              <mdb-error
                *ngIf="userProfileForm.email.invalid && (userProfileForm.email.dirty || userProfileForm.email.touched)">
                Input a valid email
              </mdb-error>
              <mdb-success
                *ngIf="userProfileForm.email.valid && (userProfileForm.email.dirty || userProfileForm.email.touched)">
                Ok!
              </mdb-success>
            </div>
          </div>
        </div>
        <div class="info">
          <p>Role: <b>{{userProfile.role}}</b></p>
          <p>Tariff: <b>{{userProfile.tariff}}</b></p>
          <p>Your money : <b>{{userProfile.coins}}</b>
            <mdb-icon fas style="color: #dcc721" icon="coins"></mdb-icon>
          </p>
          <p>Do you wanna add money?</p>
          <input
            type="number"
            class="money" mdbInput
            #money
            (input)="getNewMoney(money.value,newMoney)"> =
          <input
            type="number"
            class="money" mdbInput
            #newMoney
            readonly
            placeholder="coins">
          <mdb-icon fas style="color: #dcc721; margin: 0 5px" icon="coins"></mdb-icon>
          <button class="btn btn-outline-info" mdbWavesEffect (click)="addMoney(newMoney.value)">Add money</button>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="waves-light" aria-label="Close"
                style="background-color: #c7331d; color:white" (click)="basicModal.hide()" mdbWavesEffect>Close
        </button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                (click)="updateProfile(basicModal)">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <!------------------------sign in customer-------------------------------->
        <mat-tab-group mat-align-tabs="center"  (selectedTabChange)="tabs($event)">
          <mat-tab label="Customer" >
            <div class="md-form mb-3">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input (change)="checkInp('customer', customer_email.value, 'email')" #customer_email type="email"
                     id="defaultForm-email" [formControl]="customerInput.email" class="form-control validate" mdbInput
                     mdbValidate>
              <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
              <mdb-error *ngIf="customerInput.email.invalid && (customerInput.email.dirty || customerInput.email.touched)">
                {{getErrorMessageEmailCustomer()}}
              </mdb-error>
              <mdb-success *ngIf="customerInput.email.valid && (customerInput.email.dirty || customerInput.email.touched)">Ok!
              </mdb-success>
            </div>
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input (change)="checkInp('customer', customer_password.value, 'password')" #customer_password
                     type="password" id="defaultForm-pass" [formControl]="customerInput.password"
                     class="form-control validate"
                     mdbInput mdbValidate>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
              <mdb-error
                *ngIf="customerInput.password.invalid && (customerInput.password.dirty || customerInput.password.touched)">
                {{getErrorMessagePasswordCustomer()}}
              </mdb-error>
              <mdb-success
                *ngIf="customerInput.password.valid && (customerInput.password.dirty || customerInput.password.touched)">Ok!
              </mdb-success>
            </div>
          </mat-tab>
          <!------------------------sign in translator-------------------------------->
          <mat-tab label="Translator" >
            <div class="md-form mb-3">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input
                type="email"
                (change)="checkInp('translator', translator_email.value, 'email')"
                #translator_email
                id="defaultForm-email"
                [formControl]="translatorInput.email"
                class="form-control validate"
                mdbInput mdbValidate>
              <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
              <mdb-error *ngIf="translatorInput.email.invalid && (translatorInput.email.dirty || translatorInput.email.touched)">
                {{getErrorMessageEmailTranslator()}}
              </mdb-error>
              <mdb-success *ngIf="translatorInput.email.valid && (translatorInput.email.dirty || translatorInput.email.touched)">Ok!
              </mdb-success>
            </div>
            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input
                type="password"
                (change)="checkInp('translator', translator_password.value, 'password')"
                #translator_password
                id="defaultForm-pass"
                [formControl]="translatorInput.password"
                class="form-control validate"
                mdbInput mdbValidate>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
              <mdb-error
                *ngIf="translatorInput.password.invalid && (translatorInput.password.dirty || translatorInput.password.touched)">
                {{getErrorMessagePasswordTranslator()}}
              </mdb-error>
              <mdb-success
                *ngIf="translatorInput.password.valid && (translatorInput.password.dirty || translatorInput.password.touched)">Ok!
              </mdb-success>
            </div>
          </mat-tab>
        </mat-tab-group>

        <div *ngIf="error" [(ngModel)]="error" class="alert alert-danger" role="alert">
          <b>{{error}}</b>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button (click)="login(frame)" mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
      <!---------------------------------------FORGET PASSWORD---------------------------------------------------------------->
      <p id="forgotPassword" (click)="isShowRecoverPanel = !isShowRecoverPanel">Forgot password?</p>
      <div *ngIf="isShowRecoverPanel" class="md-form mb-3 mx-3">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input
          #recoverEmail type="email"
          id="recoverEmail"
          [formControl]="userInput.recoverEmail"
          class="form-control validate"
          mdbInput
          mdbValidate>
        <label data-error="wrong" data-success="right" for="recoverEmail">Enter e-mail for recovery password</label>
        <mdb-error
          *ngIf="userInput.recoverEmail.invalid && (userInput.recoverEmail.dirty || userInput.recoverEmail.touched)">
          {{getRecoverEmailMessage()}}
        </mdb-error>
        <mdb-success
          *ngIf="userInput.recoverEmail.valid && (userInput.recoverEmail.dirty || userInput.recoverEmail.touched)">Ok!
        </mdb-success>
        <button
          type="button"
          mdbBtn color="success"
          mdbWavesEffect
          [disabled]="userInput.recoverEmail.invalid"
          (click)="sendNewOptions(frame)"
        >Send new options
        </button>
      </div>
    </div>
  </div>
</div>
<!--/.Navbar-->
<mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
