<div class="wrapper" (window:resize)="resizeWindow()">

  <nav [class.active]="!isClose">
    <div class="left-block ">

      <div class="logo" routerLink="/"></div>

      <a class="button" (click)="toggleMenu()" *ngIf="isWindowSizeSmall && isAuth"> <span class="menu"></span> </a>

      <button class="menu_btn" mat-button routerLink="/dashboard" *ngIf="isAuth && !isWindowSizeSmall">Dashboard</button>
      <button class="menu_btn" mat-button routerLink="/new_texts" *ngIf="isAuth && !isWindowSizeSmall">New Texts</button>
      <button class="menu_btn" mat-button routerLink="/my_translations" *ngIf="isAuth && !isWindowSizeSmall">My translations
      </button>
      <button class="menu_btn" mat-button routerLink="/messages" *ngIf="isAuth && !isWindowSizeSmall">Messages</button>


      <ul class="sub-menu" *ngIf="isWindowSizeSmall && isAuth">
        <li routerLink="/dashboard">Dashboard</li>
        <li routerLink="/new_texts">New Texts</li>
        <li routerLink="/my_translations">My translations</li>
        <li routerLink="/messages">Messages</li>
      </ul>
    </div>

    <!-------------------LOGIN---------------------------->
    <div class="right-block">
      <button mat-button
              data-toggle="modal"
              data-target="#basicExample"
              (click)="frame.show()"
              *ngIf="!isAuth"
              mdbWavesEffect>
        Login
      </button>

      <button (click)="logout()" mat-button *ngIf="isAuth">Logout</button>
      <button mat-button routerLink="/new_translator_reg">Register</button>
    </div>
  </nav>

  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <mat-tab-group>
            <mat-tab label="Customer">
              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input (change)="checkInp('customer', customer_email.value, 'email')" #customer_email type="email"
                       id="defaultForm-email" [formControl]="userInput.email" class="form-control validate" mdbInput
                       mdbValidate>
                <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                <mdb-error
                  *ngIf="userInput.email.invalid && (userInput.email.dirty || userInput.email.touched)">{{getErrorMessageEmail()}}</mdb-error>
                <mdb-success *ngIf="userInput.email.valid && (userInput.email.dirty || userInput.email.touched)">Ok!
                </mdb-success>
              </div>
              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input (change)="checkInp('customer', customer_password.value, 'password')" #customer_password
                       type="password" id="defaultForm-pass" [formControl]="userInput.password"
                       class="form-control validate" mdbInput mdbValidate>
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                <mdb-error
                  *ngIf="userInput.password.invalid && (userInput.password.dirty || userInput.password.touched)">{{getErrorMessagePassword()}}</mdb-error>
                <mdb-success
                  *ngIf="userInput.password.valid && (userInput.password.dirty || userInput.password.touched)">Ok!
                </mdb-success>
              </div>
            </mat-tab>
            <mat-tab label="Translator">
              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input (change)="checkInp('translator', translator_email.value, 'email')" #translator_email type="email"
                       id="defaultForm-email" [formControl]="userInput.email" class="form-control validate" mdbInput
                       mdbValidate>
                <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                <mdb-error
                  *ngIf="userInput.email.invalid && (userInput.email.dirty || userInput.email.touched)">{{getErrorMessageEmail()}}</mdb-error>
                <mdb-success *ngIf="userInput.email.valid && (userInput.email.dirty || userInput.email.touched)">Ok!
                </mdb-success>
              </div>
              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input (change)="checkInp('translator', translator_password.value, 'password')" #translator_password
                       type="password" id="defaultForm-pass" [formControl]="userInput.password"
                       class="form-control validate" mdbInput mdbValidate>
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                <mdb-error
                  *ngIf="userInput.password.invalid && (userInput.password.dirty || userInput.password.touched)">{{getErrorMessagePassword()}}</mdb-error>
                <mdb-success
                  *ngIf="userInput.password.valid && (userInput.password.dirty || userInput.password.touched)">Ok!
                </mdb-success>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button (click)="submit(frame)" mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------->
  <div style="clear: both"></div>
</div>
