.wrapper{
    border-bottom: 2px solid white;
    width: 100%;
    height: 100px;
   
    padding: 1px;
}
.logo{
    width: 390px;
    height: 70px; 
    background-image: url('../../../assets/logo.png');
    background-size: 100% 100%;
    margin: 10px 10px; 
    display: block;
    float: left;
} 
    
.logo:hover{
    cursor: pointer;
    border: 2px solid rgb(196, 194, 194);
    border-radius: 5px;
    box-shadow: 10px 5px 5px red;
}
.login_btn{
    background-color: rgba(255, 255, 255, 0.603);
    margin: 15px;
    float: right;
    position: relative;
    top: 6px;
    height: 50px;
    width: 80px;
    font-size: 20px;
    color: white;    
}
.menu_btn{
    background-image: url('../../../assets/background_btn.jpg');
    background-size: 100% 100%;
    margin: 15px;
    float: left;
    position: relative;
    top: 7px;
    height: 50px;
    width: 130px;
    font-size: 15px;
    color: rgb(197, 194, 194); 
    box-shadow: 5px 5px 15px rgb(138, 137, 137);
    border-radius: 10px;  
}
.menu_btn:hover{
    box-shadow: 10px 5px 5px red;
    top: 15px;
}