<div class="wrapper">  
  <div class="recovery_password anim" [formGroup]="newPasswordForm">
    <h4>Password recovery</h4>
      <!-----------------------PASSWORD 1--------------------------->
    <div class="md-form mb-5">
      <input
        id="password1"
        #password1 
        type="password"
        class="form-control validate"
        formControlName="password_1"
        mdbInput mdbValidate>
        <label data-error="wrong" data-success="right" for="password1">New password</label>
        <mdb-error
              *ngIf="(password1.value == password2.value) && newPasswordForm.get('password_1').invalid && (newPasswordForm.get('password_1').dirty ||
              newPasswordForm.get('password_1').touched)">
              {{getErrorMessage('password_1')}}
        </mdb-error>
        <mdb-error
              *ngIf="password1.value !== password2.value &&
              (newPasswordForm.get('password_1').dirty || newPasswordForm.get('password_1').touched)">
              Password not equals
            </mdb-error>
        <mdb-success
              *ngIf="(password1.value == password2.value) && newPasswordForm.get('password_1').valid && (newPasswordForm.get('password_1').dirty ||
              newPasswordForm.get('password_1').touched)">
              Ok!
        </mdb-success>
      </div>
      <!-----------------------PASSWORD 2--------------------------->
      <div class="md-form mb-5">
        <input
          id="password2"
          #password2
          type="password"
          class="form-control validate"
          formControlName="password_2"
          mdbInput mdbValidate>
        <label data-error="wrong" data-success="right" for="password2">Repeat your new password</label>
        <mdb-error
            *ngIf="newPasswordForm.get('password_2').invalid && (newPasswordForm.get('password_2').dirty ||
            newPasswordForm.get('password_2').touched)">
            {{getErrorMessage('password_2')}}
          </mdb-error>       
        <mdb-success
              *ngIf="newPasswordForm.get('password_2').valid && (newPasswordForm.get('password_2').dirty ||
              newPasswordForm.get('password_2').touched)">
              Ok!
        </mdb-success>
      </div>
      <button
        id="submit_btn"
        type="button"
        mdbBtn color="success"
        mdbWavesEffect
        [disabled]="newPasswordForm.invalid || (password1.value !== password2.value)"
        (click)="submit()"
        >Change password
    </button>
  </div>
</div>
