<mat-form-field>
  <mat-label>Choose language:</mat-label>
  <mat-select class="form-control" id="select">
    <mat-option value="AX">AALAND ISLANDS</mat-option>
    <mat-option value="AF">AFGHANISTAN</mat-option>
    <mat-option value="AL">ALBANIA</mat-option>
    <mat-option value="DZ">ALGERIA</mat-option>
    <mat-option value="AS">AMERICAN SAMOA</mat-option>
    <mat-option value="AD">ANDORRA</mat-option>
    <mat-option value="AO">ANGOLA</mat-option>
    <mat-option value="AI">ANGUILLA</mat-option>
    <mat-option value="AQ">ANTARCTICA</mat-option>
    <mat-option value="AG">ANTIGUA AND BARBUDA</mat-option>
    <mat-option value="AR">ARGENTINA</mat-option>
    <mat-option value="AM">ARMENIA</mat-option>
    <mat-option value="AW">ARUBA</mat-option>
    <mat-option value="AU">AUSTRALIA</mat-option>
    <mat-option value="AT">AUSTRIA</mat-option>
    <mat-option value="AZ">AZERBAIJAN</mat-option>
    <mat-option value="BS">BAHAMAS</mat-option>
    <mat-option value="BH">BAHRAIN</mat-option>
    <mat-option value="BD">BANGLADESH</mat-option>
    <mat-option value="BB">BARBADOS</mat-option>
    <mat-option value="BY">BELARUS</mat-option>
    <mat-option value="BE">BELGIUM</mat-option>
    <mat-option value="BZ">BELIZE</mat-option>
    <mat-option value="BJ">BENIN</mat-option>
    <mat-option value="BM">BERMUDA</mat-option>
    <mat-option value="BT">BHUTAN</mat-option>
    <mat-option value="BO">BOLIVIA</mat-option>
    <mat-option value="BA">BOSNIA AND HERZEGOWINA</mat-option>
    <mat-option value="BW">BOTSWANA</mat-option>
    <mat-option value="BV">BOUVET ISLAND</mat-option>
    <mat-option value="BR">BRAZIL</mat-option>
    <mat-option value="IO">BRITISH INDIAN OCEAN TERRITORY</mat-option>
    <mat-option value="BN">BRUNEI DARUSSALAM</mat-option>
    <mat-option value="BG">BULGARIA</mat-option>
    <mat-option value="BF">BURKINA FASO</mat-option> 
    <mat-option value="BI">BURUNDI</mat-option>
    <mat-option value="KH">CAMBODIA</mat-option>
    <mat-option value="CM">CAMEROON</mat-option>
    <mat-option value="CA">CANADA</mat-option>
    <mat-option value="CV">CAPE VERDE</mat-option>
    <mat-option value="KY">CAYMAN ISLANDS</mat-option>
    <mat-option value="CF">CENTRAL AFRICAN REPUBLIC</mat-option>
    <mat-option value="TD">CHAD</mat-option>
    <mat-option value="CL">CHILE</mat-option>
    <mat-option value="CN">CHINA</mat-option>
    <mat-option value="CX">CHRISTMAS ISLAND</mat-option>
    <mat-option value="CO">COLOMBIA</mat-option>
    <mat-option value="KM">COMOROS</mat-option>
    <mat-option value="CK">COOK ISLANDS</mat-option>
    <mat-option value="CR">COSTA RICA</mat-option>
    <mat-option value="CI">COTE D'IVOIRE</mat-option>
    <mat-option value="CU">CUBA</mat-option>
    <mat-option value="CY">CYPRUS</mat-option>
    <mat-option value="CZ">CZECH REPUBLIC</mat-option>
    <mat-option value="DK">DENMARK</mat-option>
    <mat-option value="DJ">DJIBOUTI</mat-option>
    <mat-option value="DM">DOMINICA</mat-option>
    <mat-option value="DO">DOMINICAN REPUBLIC</mat-option>
    <mat-option value="EC">ECUADOR</mat-option>
    <mat-option value="EG">EGYPT</mat-option>
    <mat-option value="SV">EL SALVADOR</mat-option>
    <mat-option value="GQ">EQUATORIAL GUINEA</mat-option>
    <mat-option value="ER">ERITREA</mat-option>
    <mat-option value="EE">ESTONIA</mat-option>
    <mat-option value="ET">ETHIOPIA</mat-option>
    <mat-option value="FO">FAROE ISLANDS</mat-option>
    <mat-option value="FJ">FIJI</mat-option>
    <mat-option value="FI">FINLAND</mat-option>
    <mat-option value="FR">FRANCE</mat-option>
    <mat-option value="GF">FRENCH GUIANA</mat-option>
    <mat-option value="PF">FRENCH POLYNESIA</mat-option>
    <mat-option value="TF">FRENCH SOUTHERN TERRITORIES</mat-option>
    <mat-option value="GA">GABON</mat-option>
    <mat-option value="GM">GAMBIA</mat-option>
    <mat-option value="GE">GEORGIA</mat-option>
    <mat-option value="DE">GERMANY</mat-option>
    <mat-option value="GH">GHANA</mat-option>
    <mat-option value="GI">GIBRALTAR</mat-option>
    <mat-option value="GR">GREECE</mat-option>
    <mat-option value="GL">GREENLAND</mat-option>
    <mat-option value="GD">GRENADA</mat-option>
    <mat-option value="GP">GUADELOUPE</mat-option>
    <mat-option value="GU">GUAM</mat-option>
    <mat-option value="GT">GUATEMALA</mat-option>
    <mat-option value="GN">GUINEA</mat-option>
    <mat-option value="GW">GUINEA-BISSAU</mat-option>
    <mat-option value="GY">GUYANA</mat-option>
    <mat-option value="HT">HAITI</mat-option>
    <mat-option value="HM">HEARD AND MC DONALD ISLANDS</mat-option>
    <mat-option value="HN">HONDURAS</mat-option>
    <mat-option value="HK">HONG KONG</mat-option>
    <mat-option value="HU">HUNGARY</mat-option>
    <mat-option value="IS">ICELAND</mat-option>
    <mat-option value="IN">INDIA</mat-option>
    <mat-option value="ID">INDONESIA</mat-option>
    <mat-option value="IQ">IRAQ</mat-option>
    <mat-option value="IE">IRELAND</mat-option>
    <mat-option value="IL">ISRAEL</mat-option>
    <mat-option value="IT">ITALY</mat-option>
    <mat-option value="JM">JAMAICA</mat-option>
    <mat-option value="JP">JAPAN</mat-option>
    <mat-option value="JO">JORDAN</mat-option>
    <mat-option value="KZ">KAZAKHSTAN</mat-option>
    <mat-option value="KE">KENYA</mat-option>
    <mat-option value="KI">KIRIBATI</mat-option>
    <mat-option value="KW">KUWAIT</mat-option>
    <mat-option value="KG">KYRGYZSTAN</mat-option>
    <mat-option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</mat-option>
    <mat-option value="LV">LATVIA</mat-option>
    <mat-option value="LB">LEBANON</mat-option>
    <mat-option value="LS">LESOTHO</mat-option>
    <mat-option value="LR">LIBERIA</mat-option>
    <mat-option value="LY">LIBYAN ARAB JAMAHIRIYA</mat-option>
    <mat-option value="LI">LIECHTENSTEIN</mat-option>
    <mat-option value="LT">LITHUANIA</mat-option>
    <mat-option value="LU">LUXEMBOURG</mat-option>
    <mat-option value="MO">MACAU</mat-option>
    <mat-option value="MG">MADAGASCAR</mat-option>
    <mat-option value="MW">MALAWI</mat-option>
    <mat-option value="MY">MALAYSIA</mat-option>
    <mat-option value="MV">MALDIVES</mat-option>
    <mat-option value="ML">MALI</mat-option>
    <mat-option value="MT">MALTA</mat-option>
    <mat-option value="MH">MARSHALL ISLANDS</mat-option>
    <mat-option value="MQ">MARTINIQUE</mat-option>
    <mat-option value="MR">MAURITANIA</mat-option>
    <mat-option value="MU">MAURITIUS</mat-option>
    <mat-option value="YT">MAYOTTE</mat-option>
    <mat-option value="MX">MEXICO</mat-option>
    <mat-option value="MC">MONACO</mat-option>
    <mat-option value="MN">MONGOLIA</mat-option>
    <mat-option value="MS">MONTSERRAT</mat-option>
    <mat-option value="MA">MOROCCO</mat-option>
    <mat-option value="MZ">MOZAMBIQUE</mat-option>
    <mat-option value="MM">MYANMAR</mat-option>
    <mat-option value="NA">NAMIBIA</mat-option>
    <mat-option value="NR">NAURU</mat-option>
    <mat-option value="NP">NEPAL</mat-option>
    <mat-option value="NL">NETHERLANDS</mat-option>
    <mat-option value="AN">NETHERLANDS ANTILLES</mat-option>
    <mat-option value="NC">NEW CALEDONIA</mat-option>
    <mat-option value="NZ">NEW ZEALAND</mat-option>
    <mat-option value="NI">NICARAGUA</mat-option>
    <mat-option value="NE">NIGER</mat-option>
    <mat-option value="NG">NIGERIA</mat-option>
    <mat-option value="NU">NIUE</mat-option>
    <mat-option value="NF">NORFOLK ISLAND</mat-option>
    <mat-option value="MP">NORTHERN MARIANA ISLANDS</mat-option>
    <mat-option value="NO">NORWAY</mat-option>
    <mat-option value="OM">OMAN</mat-option>
    <mat-option value="PK">PAKISTAN</mat-option>
    <mat-option value="PW">PALAU</mat-option>
    <mat-option value="PA">PANAMA</mat-option>
    <mat-option value="PG">PAPUA NEW GUINEA</mat-option>
    <mat-option value="PY">PARAGUAY</mat-option>
    <mat-option value="PE">PERU</mat-option>
    <mat-option value="PH">PHILIPPINES</mat-option>
    <mat-option value="PN">PITCAIRN</mat-option>
    <mat-option value="PL">POLAND</mat-option>
    <mat-option value="PT">PORTUGAL</mat-option>
    <mat-option value="PR">PUERTO RICO</mat-option>
    <mat-option value="QA">QATAR</mat-option>
    <mat-option value="RE">REUNION</mat-option>
    <mat-option value="RO">ROMANIA</mat-option>
    <mat-option selected value="RU">RUSSIAN FEDERATION</mat-option>
    <mat-option value="RW">RWANDA</mat-option>
    <mat-option value="SH">SAINT HELENA</mat-option>
    <mat-option value="KN">SAINT KITTS AND NEVIS</mat-option>
    <mat-option value="LC">SAINT LUCIA</mat-option>
    <mat-option value="PM">SAINT PIERRE AND MIQUELON</mat-option>
    <mat-option value="VC">SAINT VINCENT AND THE GRENADINES</mat-option>
    <mat-option value="WS">SAMOA</mat-option>
    <mat-option value="SM">SAN MARINO</mat-option>
    <mat-option value="ST">SAO TOME AND PRINCIPE</mat-option>
    <mat-option value="SA">SAUDI ARABIA</mat-option>
    <mat-option value="SN">SENEGAL</mat-option>
    <mat-option value="CS">SERBIA AND MONTENEGRO</mat-option>
    <mat-option value="SC">SEYCHELLES</mat-option>
    <mat-option value="SL">SIERRA LEONE</mat-option>
    <mat-option value="SG">SINGAPORE</mat-option>
    <mat-option value="SK">SLOVAKIA</mat-option>
    <mat-option value="SI">SLOVENIA</mat-option>
    <mat-option value="SB">SOLOMON ISLANDS</mat-option>
    <mat-option value="SO">SOMALIA</mat-option>
    <mat-option value="ZA">SOUTH AFRICA</mat-option>
    <mat-option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</mat-option>
    <mat-option value="ES">SPAIN</mat-option>
    <mat-option value="LK">SRI LANKA</mat-option>
    <mat-option value="SD">SUDAN</mat-option>
    <mat-option value="SR">SURINAME</mat-option>
    <mat-option value="SJ">SVALBARD AND JAN MAYEN ISLANDS</mat-option>
    <mat-option value="SZ">SWAZILAND</mat-option>
    <mat-option value="SE">SWEDEN</mat-option>
    <mat-option value="CH">SWITZERLAND</mat-option>
    <mat-option value="SY">SYRIAN ARAB REPUBLIC</mat-option>
    <mat-option value="TW">TAIWAN</mat-option>
    <mat-option value="TJ">TAJIKISTAN</mat-option>
    <mat-option value="TH">THAILAND</mat-option>
    <mat-option value="TL">TIMOR-LESTE</mat-option>
    <mat-option value="TG">TOGO</mat-option>
    <mat-option value="TK">TOKELAU</mat-option>
    <mat-option value="TO">TONGA</mat-option>
    <mat-option value="TT">TRINIDAD AND TOBAGO</mat-option>
    <mat-option value="TN">TUNISIA</mat-option>
    <mat-option value="TR">TURKEY</mat-option>
    <mat-option value="TM">TURKMENISTAN</mat-option>
    <mat-option value="TC">TURKS AND CAICOS ISLANDS</mat-option>
    <mat-option value="TV">TUVALU</mat-option>
    <mat-option value="UG">UGANDA</mat-option>
    <mat-option value="UA">UKRAINE</mat-option>
    <mat-option value="AE">UNITED ARAB EMIRATES</mat-option>
    <mat-option value="GB">UNITED KINGDOM</mat-option>
    <mat-option value="US">UNITED STATES</mat-option>
    <mat-option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</mat-option>
    <mat-option value="UY">URUGUAY</mat-option>
    <mat-option value="UZ">UZBEKISTAN</mat-option>
    <mat-option value="VU">VANUATU</mat-option>
    <mat-option value="VE">VENEZUELA</mat-option>
    <mat-option value="VN">VIET NAM</mat-option>
    <mat-option value="WF">WALLIS AND FUTUNA ISLANDS</mat-option>
    <mat-option value="EH">WESTERN SAHARA</mat-option>
    <mat-option value="YE">YEMEN</mat-option>
    <mat-option value="ZM">ZAMBIA</mat-option>
    <mat-option value="ZW">ZIMBABWE</mat-option>
  </mat-select>
</mat-form-field>