<div class="wrapper">
  <app-header></app-header>
  <div class="title anim"><h2>Customer registration</h2></div>
  <div class="inputs_wrapper anim" *ngIf="userInputForm">
    <form [formGroup]="userInputForm">
      <div class="inputs">

        <!-----------------------------------EMAIL-------------------------------------->

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix"
             [ngClass]="userInputForm.get('email').valid ? 'green-text' : 'red-text'"></i>
          <input type="email"
                 id="email_reg"
                 #email
                 formControlName="email"
                 class="form-control validate"
                 mdbInput mdbValidate>
          <label data-error="wrong" data-success="right" for="email_reg">Your email</label>
          <mdb-error
            *ngIf="userInputForm.get('email').invalid && (userInputForm.get('email').dirty ||
             userInputForm.get('email').touched)">
            {{getErrorMessage('email')}}
          </mdb-error>
          <mdb-success
            *ngIf="userInputForm.get('email').valid && (userInputForm.get('email').dirty ||
            userInputForm.get('email').touched)">
            Ok!
          </mdb-success>
        </div>
        <mat-divider></mat-divider>

        <!-----------------------------------NAME-------------------------------------->

        <div class="md-form mb-5">
          <i class="fas fa-user prefix" [ngClass]="userInputForm.get('name').valid ? 'green-text' : 'red-text'"></i>
          <input type="text" #name id="name_reg" formControlName="name" class="form-control validate" mdbInput
                 mdbValidate>
          <label data-error="wrong" data-success="right" for="name_reg">Your name</label>
          <mdb-error
            *ngIf="userInputForm.get('name').invalid && (userInputForm.get('name').dirty || userInputForm.get('name').touched)">
            {{getErrorMessage('name')}}
          </mdb-error>
          <mdb-success
            *ngIf="userInputForm.get('name').valid && (userInputForm.get('name').dirty || userInputForm.get('name').touched)">
            Ok!
          </mdb-success>
        </div>
        <mat-divider></mat-divider>

        <!-----------------------------------CREDIT CARD-------------------------------------->

        <div class="md-form mb-5" id="card_number">
          <i class="fas fa-credit-card prefix"
             [ngClass]="userInputForm.get('creditCard').valid ? 'green-text' : 'red-text'"></i>
          <input type="text" mask='0000-0000-0000-0000' #creditCard id="cardNumber_reg"
                 formControlName="creditCard" class="form-control validate" mdbInput mdbValidate>
          <label data-error="wrong" data-success="right" for="cardNumber_reg">Number</label>
          <mdb-error
            *ngIf="userInputForm.get('creditCard').invalid &&
            (userInputForm.get('creditCard').dirty || userInputForm.get('creditCard').touched)">
            {{getErrorMessage('creditCard')}}
          </mdb-error>
          <mdb-success
            *ngIf="userInputForm.get('creditCard').valid &&
            (userInputForm.get('creditCard').dirty || userInputForm.get('creditCard').touched)">
            Ok!
          </mdb-success>
          <div style="clear: both"></div>
        </div>
        <mat-divider></mat-divider>

        <!-----------------------------------PASSWORD-------------------------------------->

        <div class="md-form mb-5 password">
          <i class="fas fa-lock prefix"
             [ngClass]="userInputForm.get('password').valid && userInputForm.get('passwordSubmitted').valid &&
             (password1_reg.value == password2_reg.value) ? 'green-text' : 'red-text'">
          </i>
          <input
            [type]="hide_1 ? 'password' : 'text'"
            id="password1_reg"
            #password1_reg
            formControlName="password"
            class="form-control validate"
            mdbInput mdbValidate>
          <mat-icon matSuffix (click)="hide_1 = !hide_1">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <label data-error="wrong" data-success="right" for="password1_reg">Your password</label>
          <mdb-error
            *ngIf="(password1_reg.value == password2_reg.value) && userInputForm.get('password').invalid &&
            (userInputForm.get('password').dirty || userInputForm.get('password').touched)">
            {{getErrorMessage('password')}}
          </mdb-error>
          <mdb-error
            *ngIf="password1_reg.value !== password2_reg.value &&
            (userInputForm.get('password').dirty || userInputForm.get('password').touched)">
            Password not equals
          </mdb-error>
          <mdb-success
            *ngIf="(password1_reg.value == password2_reg.value) && userInputForm.get('password').valid &&
             (userInputForm.get('password').dirty || userInputForm.get('password').touched)">
            Ok!
          </mdb-success>
        </div>
        <div class="md-form mb-5 password">
          <input [type]="hide_2 ? 'password' : 'text'" id="password2_reg" #password2_reg
                 formControlName="passwordSubmitted" class="form-control validate" mdbInput mdbValidate>
          <mat-icon matSuffix (click)="hide_2 = !hide_2">{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <label data-error="wrong" data-success="right" for="password2_reg">Repeat your password</label>
          <mdb-error
            *ngIf="userInputForm.get('passwordSubmitted').invalid && (userInputForm.get('passwordSubmitted').dirty ||
            userInputForm.get('passwordSubmitted').touched)">
            {{getErrorMessage('passwordSubmitted')}}
          </mdb-error>
          <mdb-success
            *ngIf="userInputForm.get('passwordSubmitted').valid && (userInputForm.get('passwordSubmitted').dirty ||
            userInputForm.get('passwordSubmitted').touched)">
            Ok!
          </mdb-success>
        </div>
        <div style="clear: both"></div>
        <mat-divider></mat-divider>

        <!-------------------------------------PHOTO------------------------------------------>

        <div class="md-form mb-5" id="photo">
          <i class="fas fa-camera prefix" [ngClass]="photoStatus ? 'green-text' : 'red-text'"></i>
          <input type="file" (change)="uploadPhoto($event)">
        </div>
        <mat-divider></mat-divider>

        <!-----------------------------------TARIFF-------------------------------------->

        <div class="md-form mb-5">
          <div class="tariff_icon">
            <i class="fas fa-dollar-sign prefix"
               [ngClass]="userInputForm.get('tariff').valid ? 'green-text' : 'red-text'"></i>
          </div>
          <div class="select_tariff">
            <mat-form-field>
              <mat-label>Tariff plans</mat-label>
              <mat-select #tariff formControlName="tariff">
                <mat-option value="silver">Silver</mat-option>
                <mat-option value="gold">Gold</mat-option>
                <mat-option value="platinum">Platinum</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="clear: both"></div>
          <mdb-error
            *ngIf="userInputForm.get('tariff').invalid && (userInputForm.get('tariff').dirty ||
            userInputForm.get('tariff').touched)">
            {{getErrorMessage('tariff')}}
          </mdb-error>
          <mdb-success
            *ngIf="userInputForm.get('tariff').valid && (userInputForm.get('tariff').dirty ||
             userInputForm.get('tariff').touched)">
            Ok!
          </mdb-success>
        </div>
        <mat-divider></mat-divider>

        <!-----------------------------------LICENCE-------------------------------------->

        <mat-checkbox id="licence_check" #licenceCheck>I have already read a licence agreement</mat-checkbox>
        <p id="licence" (click)="basicModal.show()">Licence agreement</p>
        <div style="overflow-y: auto" mdbModal #basicModal="mdbModal" class="modal fade bottom" tabindex="-1"
             role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Licence agreement</h4>
              </div>
              <div class="modal-body">
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                  eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                  laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                  eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                  laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                  eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                  laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                  eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                  laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </form>

    <button
      id="submit_btn"
      type="button"
      mdbBtn color="success"
      mdbWavesEffect
      [disabled]="userInputForm.invalid"
      (click)="submit()"
    >Register
    </button>
  </div>
  <app-footer></app-footer>
</div>
