<div class="wrapper">
  <div class="title anim">Admin panel</div>

  <div class="tariffs" *ngIf="tariffArray" [formGroup]="tariffArray">
    <!-------------------SILVER---------------------------->
    <div formArrayName="items">
      <div class="tariff" *ngFor="let tariff of tariffArray.get('items').controls; let i=index" [formGroupName]="i">
        <div class="tariff_title">{{tariff.get('name').value | titlecase}}</div>
        <div class="content">
          <mat-form-field>
            <input
              matInput
              placeholder="Price"
              type="number"
              formControlName="cost">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Coins"
              type="number"
              formControlName="coins">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Coefficient"
              type="number"
              formControlName="coeff">
          </mat-form-field>

          <button
            type="button"
            mdbBtn
            color="primary"
            mdbWavesEffect
            (click)="disabled(tariff); hide[i]=true">
            Change tariff plan
          </button>
          <button
            type="button"
            mdbBtn
            color="success"
            mdbWavesEffect
            *ngIf="hide[i]"
            (click)="changeTariff(tariff); hide[i]=false">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
<div style="clear: both"></div>
  <button
    class="btn btn-outline-success waves-effect createNewTransBtn"
    [routerLink]="['/new_translator_reg']">
    Create a new translator account
  </button>

</div>
