<div class="wrapper">

  <app-header></app-header>

  <!-----------------CAROUSEL--------------------------------->
  <mdb-carousel class="carousel slide carousel-fade anim" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/slide_3.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><strong>Save your time!</strong></h3>
        <p class="inside_text">
          Our team works in the shortest possible time. We will not keep you waiting!</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/slide_4.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><strong>Team of professionals</strong></h3>
        <p class="inside_text">
          All of our employees have extensive experience and qualifications.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/slide_5.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><strong>Any language</strong></h3>
        <p class="inside_text">
          We work with almost all known languages ​​and dialects.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
<!-------------------------------------------------->

<!--------------------TARIFF PLAN-------------------------------->

  <div class="tarrif_plan anim">
    <h3 class="tariff_h"><strong>Tariff plans</strong></h3>
    <div class="tariff silver">
      <h4 class="tariff_h">Silver</h4> 
      <ul>
        <li>Cost: <span>5 USD</span></li>
        <li>Quantity of purpose language: <span>1</span></li>
        <li>Numbers of texts: <span>1</span></li>
        <li>Time to translate: <span>4 days</span></li>
      </ul> 
      <button mat-button>Buy</button> 
    </div>

    <div class="tariff gold">
      <h4 class="tariff_h">Gold</h4>
      <ul>
        <li>Cost: <span>10 USD</span></li>
        <li>Quantity of purpose language: <span>5</span></li>
        <li>Numbers of texts: <span>5</span></li>
        <li>Time to translate: <span>2 days</span></li>
      </ul> 
      <button mat-button>Buy</button>   
    </div>

    <div class="tariff platinum">
      <h4 class="tariff_h">Platinum</h4>
      <ul>
        <li>Cost: <span>30 USD</span></li>
        <li>Quantity of purpose language: <span>&infin;</span></li>
        <li>Numbers of texts: <span>&infin;</span></li>
        <li>Time to translate: <span>24 hours</span></li>
      </ul> 
      <button mat-button>Buy</button>   
    </div>

    <div style="clear: both"></div>

  </div>
  <!-------------------------------------------------->

  <!----------------------Customer registration------------------------------->
  <div class="customer_reg anim">
    <h4 class="tariff_h">If you have no a customer account yet, please, register by the button below</h4>
    <button mat-button (click)="goToCustomerReg()">Register a customer account</button>   
  </div>
  <!-------------------------------------------------------------------------->
  <app-footer></app-footer>
</div>
