<mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
<div class="wrapper">
  <!-----------------CAROUSEL--------------------------------->
  <mdb-carousel class="carousel slide carousel-fade ">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/slide_3.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><strong>Save your time!</strong></h3>
        <p class="inside-text">
          Our team works in the shortest possible time. We will not keep you waiting!</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/slide_4.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><strong>Team of professionals</strong></h3>
        <p class="inside-text">
          All of our employees have extensive experience and qualifications.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/slide_5.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><strong>Any language</strong></h3>
        <p class="inside-text">
          We work with almost all known languages and dialects.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <!-------------------------------------------------->
  <section class="pricing-table">
    <div class="container">
      <div class="block-heading">
        <h2>Tariff plan</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-5 col-lg-4">
          <div class="item">
            <div class="heading">
              <h3>SILVER</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="features">
              <h4><span class="feature">Coefficient of money transactions</span> : <span
                class="value">{{tariffsArray[0]?.coeff}}</span></h4>
              <h4><span class="feature">Quantity of coins</span> :<br> <span class="value">{{tariffsArray[0]?.coins}}</span>
              </h4>
            </div>
            <div class="price">
              <h4>${{tariffsArray[0]?.cost}}</h4>
            </div>
            <button
              *ngIf="!auth"
              class="btn btn-block btn-outline-primary"
              [routerLink]="['/customerRegistration']"
              fragment="silver">BUY NOW
            </button>
          </div>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="item">
            <div class="ribbon red">Best offer</div>
            <div class="heading">
              <h3>GOLD</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="features">
              <h4><span class="feature">Coefficient of money transactions</span> : <span
                class="value">{{tariffsArray[1]?.coeff}}</span></h4>
              <h4><span class="feature">Quantity of coins</span> :<br> <span class="value">{{tariffsArray[1]?.coins}}</span>
              </h4>
            </div>
            <div class="price">
              <h4>${{tariffsArray[1]?.cost}}</h4>
            </div>
            <button
              *ngIf="!auth"
              class="btn btn-block btn-primary"
              [routerLink]="['/customerRegistration']"
              fragment="gold">BUY NOW
            </button>
          </div>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="item">
            <div class="heading">
              <h3>PLATINUM</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="features">
              <h4><span class="feature">Coefficient of money transactions</span> : <span
                class="value">{{tariffsArray[2]?.coeff}}</span></h4>
              <h4><span class="feature">Quantity of coins</span> :<br> <span class="value">{{tariffsArray[2]?.coins}}</span>
              </h4>
            </div>
            <div class="price">
              <h4>${{tariffsArray[2]?.cost}}</h4>
            </div>
            <button
              *ngIf="!auth"
              class="btn btn-block btn-outline-primary"
              [routerLink]="['/customerRegistration']"
              fragment="platinum">BUY NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------TARIFF PLAN-------------------------------->

</div>
