<div class="wrapper">
  <div class="title anim">Text details</div>
  <div class="container">
    <div class="textDetail">
      <div class="p-4" *ngIf="element">
        <p class="lead">Title:
          <span class="lead font-weight-bold">{{element.title}}</span>
        </p>
        <p class="lead">Date:
          <span class="lead font-weight-bold">{{element.date | date}}</span>
        </p>
        <p class="lead">Link:
          <span class="lead font-weight-bold"><a [href]="element.download" target="_blank">Download text</a></span>
        </p>
        <p class="lead">Customer name:
          <span class="lead font-weight-bold">{{element.name}}</span>
        </p>
        <p class="lead">Customer e-mail:
          <span class="lead font-weight-bold">{{element.email}}</span>
        </p>
        <p class="lead">Initial language:
          <span class="lead font-weight-bold">{{element.originalLanguage}}</span>
        </p>
        <p class="lead">Finite language:
          <span class="lead font-weight-bold">{{element.translateLanguage}}</span>
        </p>
        <p class="lead">Review:
          <span class="lead font-weight-bold">{{element.review}}</span>
        </p>
        <p class="lead">Tags:
          <span class="lead font-weight-bold">{{element.tags}}</span>
        </p>
        <p class="lead">Urgency:
          <span class="lead font-weight-bold">{{element.urgency}}</span>
        </p>
        <p class="lead">Price:
          <span class="lead font-weight-bold">{{element.price}}</span>
        </p>

      </div>

      <!-- --------------- -->
      <div *ngIf="element">
        <mat-divider></mat-divider>
        <p class="lead"><b>Progress of translation</b></p>

        <progressbar *ngIf="element" [value]="element.progress" type="type" [animate]="true" [striped]="true">
          {{element.progress}}%
        </progressbar>
        <!---------------IF TRANSLATOR...------------------------>
        <div *ngIf="role === 'translator'">
          <p class="lead"><b>Change a progress of current text translation</b></p>
          <mat-slider
            #slider thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="0" max="100"
            [value]="element.progress"
            (change)="changeSliderTranslator(slider.value)">
          </mat-slider>
          <button *ngIf="saveProgressBtn" class="btn btn-outline-success  waves-effect large" (click)="saveProgress()">
            Save
            changes
          </button>
          <mat-divider></mat-divider>
        </div>
        <!--------------------------------------->

        <!---------------IF CUSTOMER...------------------------>
        <div *ngIf="role === 'customer'">
          <div class="md-form inpChangePrice">
            <input mdbInput type="text" #inpChangePrice id="form1" class="form-control changePriceInp" type="number"
                   (change)="changeSliderCustomer(inpChangePrice.value)">
            <label for="form1" class="">Change the price</label>
            <button *ngIf="saveProgressBtn" class="btn btn-outline-success waves-effect large" (click)="savePrice()">
              Save
              changes
            </button>
            <div style="clear: both"></div>
          </div>
        </div>

      </div>
    </div>
    <button *ngIf="element" class="btn btn-outline-danger  waves-effect large" (click)="deleteText()">Delete text
    </button>
  </div>
  <div class="comments_wrapper">
    <div class="mesgs">
      <div class="msg_history">
        <div class="incoming_msg" *ngFor="let incomingComment of incomingComments; let i = index;">
          <div class="incoming_msg_img"><img src="{{incomingComment.photo}}" alt="sunil"></div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{incomingComment.message}}</p>
              <span class="time_date">{{incomingComment.date | date:'medium'}} , {{getRelativeDate(i)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="create_comment">
      <div style="display: flex; width: 80%;margin: auto;">
            <textarea
              class="md-textarea form-control"
              rows="3"
              #textArea
              id="input_text"
              type="text"
              length="120"
              mdbCharCounter
              mdbInput
              placeholder="Enter your comment here..."
              style="margin: 0; width: 95%"
              [value]="textUrl? textUrl: ''">
          </textarea>
        <button class="btn" style="margin: 0" (click)="filePicker.click()">
          <i class="fas fa-file" style="font-size: 1.5rem"></i>
          <input type="file" hidden #filePicker (change)="upload($event)">
        </button>
      </div>

      <button mat-button id="createCommentBtn" (click)="sendComment(textArea)">Send comment</button>
    </div>
  </div>
</div>
