<div class="wrapper">
  <app-header></app-header>
  <div class="title anim">Text details</div>

  <div class="textDetail">
    <table mdbTable>
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody *ngIf="element">
        <tr mdbTableCol >
          <th scope="row">{{element.id}}</th>
          <td>{{element.title}}</td>
          <td>{{element.date | date}}</td>
          <td><a [href]="element.download" target="_blank">Download text</a></td>
          <td>{{element.name}}</td>
          <td>{{element.email}}</td>
          <td>{{element.originalLanguage}}</td>
          <td>{{element.translateLanguage}}</td>          
          <td>{{element.review}}</td>
          <td>{{element.tags}}</td>
          <td>{{element.urgency}}</td>
          <td>{{element.price}}</td>
        </tr>
      </tbody>
    </table>
    <mat-divider></mat-divider>   
    <p><b>Progress of translation</b></p>

    <progressbar *ngIf="element" [value]="element.progress" type="type" [animate]="true" [striped]="true">{{element.progress}}%</progressbar>
    <!---------------IF TRANSLATOR...------------------------>
    <div *ngIf="role === 'translator'">
      <p><b>Change a progress of current text translation</b></p>
      <mat-slider
        #slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="0"
        max="100" (change)="changeSlider(slider.value)">
      </mat-slider>
      <button *ngIf="saveProgressBtn" mat-button class="saveProgress_btn" (click)="saveProgress()">Save changes</button>  
      <mat-divider></mat-divider>
    </div>
    <!--------------------------------------->
    <mat-divider></mat-divider>
    <button mat-button class="del_btn" (click)="deleteText()">Delete text</button>
  </div>

  <div class="comments_wrapper">
    <div class="comments">
      <div class="comment dialog" *ngFor="let incomingComment of incomingComments; let i = index;">
        <div class="avatar"> <img class="avatar_img" src="{{incomingComment.photo}}" alt=""> </div>
        <div class="name">
          <span>{{incomingComment.name}}</span>
          <p>{{incomingComment.date | date:'medium'}}, {{getRelativeDate(i)}}</p>
        </div>
        <div style="clear: both"></div>
        <div class="message">
          <p>{{incomingComment.message}}</p>
        </div>
      </div>
    </div>  
  </div>

  <div class="create_comment">
    <textarea class="md-textarea form-control " rows="3" #textArea id="input_text" type="text" length="120" mdbCharCounter mdbInput placeholder="Enter your comment here..."></textarea>  
    <button mat-button id="createCommentBtn" (click)="sendComment(textArea.value)">Send comment</button>  
  </div>
  
  <app-footer></app-footer>
</div>
