.block{
    width: 90%;
    margin: 15px auto;
    border: 2px solid white;
    border-radius: 5px;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.178);
}
h3{
    color: white;
    text-align: center;
}
.assignToMe{
    margin: 30px;
    width: 45%;
    min-height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    float: left;
    background-color: rgba(0, 0, 0, 0.404);
}
.activityStream{
    margin: 30px;
    width: 45%;
    min-height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    float: right;
    background-color: rgba(0, 0, 0, 0.404);
}