.wrapper {
  font-size: 18px;
}

p, h3 {
  margin: 0;
}

.block {
  width: 90%;
  margin: auto;
  padding: .5rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  min-height: 4rem;
  background-color: rgba(255, 255, 255, 0.85);
}

h3 {
  margin-top: 1rem;
  color: #5c5d58;
  font-weight: 400;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.text-container {
  width: 80%;
  min-width: 30rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.text-container p {
  width: 40%;
}

.text-container p.date {
  width: 20%;
  cursor: auto;
}

.text-container:hover {
  background-color: #848580;
  color: white;
}

@media (max-width: 720px) {
  .container,.block {
    width: 100%;
    font-size: 13px;
  }
  .text-container{
    width: 100%;
    min-width: auto;
  }
}
