<div class="wrapper">
  <app-header></app-header>

  <div class="title anim">Dashboard</div>

  <div class="block">
    <h3>Incomplete translations</h3>
    <div class="filter">
      <div>
        <mat-form-field class="tags">
          <mat-chip-list #chipList aria-label="tags">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)"
              color="accent">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Select some several tags" #fruitInput [formControl]="tagCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <app-languages (selectValue)="getLng($event)"></app-languages>
      </div>
      <button mdbBtn color="info" block="true" class="my-4" (click)="filter()" matStepperNext>Filter</button>
    </div>
    <div class="container" *ngIf="ordersArray && role === 'customer'">
      <div *ngFor="let text of ordersArray" class="text-container">
        <p class="title-order" [routerLink]="['/text_details',text.id]">{{text.title}}</p>
        <p [ngStyle]="{'color':getColor(text.progress)}" style="font-weight: 400">
          {{status[text.progress]}}</p>
        <p class="date">{{text.date | date}}</p>
      </div>

    </div>

    <div class="container" *ngIf="ordersArray && role === 'translator'">
      <div *ngFor=" let text of ordersArray; let i=index" class="text-container">
        <p class="title-order" [routerLink]="['/text_details',text.id]">{{text.title}}</p>

        <div class="tags-order">
          <p>{{text.tags}}</p>
        </div>
        <!--<p style="width: 2em"> {{text.urgency}}</p>-->
        <p class="date">{{text.date | date}}</p>
        <button (click)="getOrder(text.id, text.idCustomer)" class="get-order-btn">Get</button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>