<app-header></app-header>
<div class="title anim">Incomplete translations</div>
<div class="block">

  <div class="container" *ngIf="translateListArray">
    <table class="table table-hover bordered">
      <thead class="black white-text">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Progress</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let text of translateListArray">
          <td>
            <h5><a [routerLink]="['/text_details',text.id]"> {{text.title}}</a></h5>
          </td>
          <td>
            <h5>
              <circle-progress [percent]="text.progress" 
              [showTitle]="false" 
              [subtitle]='text.progress' 
              [radius]="30"
              [outerStrokeWidth] = "4"
              [titleFontSize] = "12"
              [subtitleFontSize] = "20">
              </circle-progress>
            </h5>
          </td>
          <td>
            <h5>{{text.date | date}}</h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>